


<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Runroot &mdash; Apache Traffic Server 10.0.0 documentation</title>
  

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/override.css" type="text/css" />

  
  
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
  

  
  

  

  
  <!--[if lt IE 9]>
    <script src="../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script src="../../_static/jquery.js"></script>
        <script src="../../_static/underscore.js"></script>
        <script src="../../_static/doctools.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="Testing Traffic Server" href="../testing/index.en.html" />
    <link rel="prev" title="Layout" href="index.en.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../index.html" class="icon icon-home"> Apache Traffic Server
          

          
            
            <img src="../../_static/trans_logo_tm_380x69.png" class="logo" alt="Logo"/>
          
          </a>

          
            
            
              <div class="version">
                10.0
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../preface/index.en.html">Preface</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../getting-started/index.en.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../release-notes/index.en.html">Release Notes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../admin-guide/index.en.html">Administrator’s Guide</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../index.en.html">Developer’s Guide</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../introduction/index.en.html">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="../release-process/index.en.html">Release Process</a></li>
<li class="toctree-l2"><a class="reference internal" href="../contributing/index.en.html">Contributing to Traffic Server</a></li>
<li class="toctree-l2"><a class="reference internal" href="../testing-with-vagrant/index.en.html">Using Vagrant to Test Traffic Server</a></li>
<li class="toctree-l2"><a class="reference internal" href="../debugging/index.en.html">Debugging and Analysis</a></li>
<li class="toctree-l2"><a class="reference internal" href="../threads-and-events.en.html">Threads and Event Processing</a></li>
<li class="toctree-l2"><a class="reference internal" href="../cache-architecture/index.en.html">Cache Architecture</a></li>
<li class="toctree-l2"><a class="reference internal" href="../logging-architecture/index.en.html">Logging Architecture</a></li>
<li class="toctree-l2"><a class="reference internal" href="../internal-libraries/index.en.html">Internal libraries</a></li>
<li class="toctree-l2"><a class="reference internal" href="../plugins/index.en.html">Plugin Development</a></li>
<li class="toctree-l2"><a class="reference internal" href="../config-vars.en.html">Configuration Variable Implementation</a></li>
<li class="toctree-l2"><a class="reference internal" href="../api/index.en.html">API Reference</a></li>
<li class="toctree-l2"><a class="reference internal" href="../continuous-integration/index.en.html">Continuous Integration</a></li>
<li class="toctree-l2"><a class="reference internal" href="../documentation/index.en.html">Documentation</a></li>
<li class="toctree-l2"><a class="reference internal" href="../host-resolution-proposal.en.html">Host Resolution Proposal</a></li>
<li class="toctree-l2"><a class="reference internal" href="../client-session-architecture.en.html">An Overview Client Sessions and Transactions</a></li>
<li class="toctree-l2"><a class="reference internal" href="../core-architecture/index.en.html">Core Architecture</a></li>
<li class="toctree-l2"><a class="reference internal" href="../design-documents/index.en.html">Design Documents</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.en.html">Layout</a><ul class="current">
<li class="toctree-l3 current"><a class="current reference internal" href="#">Runroot</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#preface">Preface</a></li>
<li class="toctree-l4"><a class="reference internal" href="#why-do-we-need-runroot">Why do we need runroot</a></li>
<li class="toctree-l4"><a class="reference internal" href="#main-logic">Main logic</a></li>
<li class="toctree-l4"><a class="reference internal" href="#the-yaml-file">The YAML file</a></li>
<li class="toctree-l4"><a class="reference internal" href="#runroot-management">Runroot management</a></li>
<li class="toctree-l4"><a class="reference internal" href="#guide-for-development">Guide for development</a></li>
<li class="toctree-l4"><a class="reference internal" href="#issue-or-bug">Issue or bug</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../testing/index.en.html">Testing Traffic Server</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices/index.en.html">Appendices</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">Apache Traffic Server</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../index.en.html">Developer’s Guide</a> &raquo;</li>
        
          <li><a href="index.en.html">Layout</a> &raquo;</li>
        
      <li>Runroot</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../../_sources/developer-guide/layout/runroot.en.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="runroot">
<span id="id1"></span><h1>Runroot<a class="headerlink" href="#runroot" title="Permalink to this headline">¶</a></h1>
<div class="section" id="preface">
<h2>Preface<a class="headerlink" href="#preface" title="Permalink to this headline">¶</a></h2>
<p>Runroot is a powerful feature to detect and define layout at runtime. This document helps to guide through how runroot works.
For management and setup of runroots, please refer to <code class="docutils literal notranslate"><span class="pre">appendices/command-line/traffic_layout.en</span></code></p>
</div>
<div class="section" id="why-do-we-need-runroot">
<h2>Why do we need runroot<a class="headerlink" href="#why-do-we-need-runroot" title="Permalink to this headline">¶</a></h2>
<p>Runroot is a replacing approach for the previous <code class="docutils literal notranslate"><span class="pre">TS_ROOT</span></code> logic. <code class="docutils literal notranslate"><span class="pre">TS_ROOT</span></code> is based on replacing a compile-time package install root location.
Layouts for many systems have data location that are absolute paths that are defined without <code class="docutils literal notranslate"><span class="pre">$PREFIX</span></code> variable. So, the current logic is difficult to follow
and not consistent between trafficserver programs. Furthermore, it is not easy to modify subdirectory locations.</p>
<p>So, we have the runroot which makes ATS easier to use, develop and deploy.</p>
</div>
<div class="section" id="main-logic">
<h2>Main logic<a class="headerlink" href="#main-logic" title="Permalink to this headline">¶</a></h2>
<p>Everything in runroot will go through the class:<cite>Layout</cite> class and all the layout is defined by a single YAML file: <code class="docutils literal notranslate"><span class="pre">runroot.yaml</span></code>.</p>
<p>Work flow:</p>
<ol class="arabic simple">
<li><p>Command line option <code class="docutils literal notranslate"><span class="pre">--run-root</span></code></p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">$TS_RUNROOT</span></code> Environment variable</p></li>
<li><p>Look in current directory and look up N (default 4) directories for <code class="docutils literal notranslate"><span class="pre">runroot.yaml</span></code></p></li>
<li><p>Look in executable directory and look up N directories for <code class="docutils literal notranslate"><span class="pre">runroot.yaml</span></code>.</p></li>
<li><p><code class="docutils literal notranslate"><span class="pre">$TS_ROOT</span></code> Environment Variable</p></li>
<li><p>Compiler defaults in layout class</p></li>
</ol>
<p>Right now, the following programs are integrated with the runroot logic:
<strong>traffic_server</strong>, <strong>traffic_manager</strong>, <strong>traffic_ctl</strong>, <strong>traffic_layout</strong>, <strong>traffic_crashlog</strong>, <strong>traffic_logcat</strong>, <strong>traffic_logstat</strong>.</p>
</div>
<div class="section" id="the-yaml-file">
<h2>The YAML file<a class="headerlink" href="#the-yaml-file" title="Permalink to this headline">¶</a></h2>
<p>The runroot file (runroot.yaml) can be placed at any location in the filesystem and still be used to define the locations for required Traffic Server files.
So we can run traffic_server, for example, by <code class="docutils literal notranslate"><span class="pre">traffic_server</span> <span class="pre">--run-root=/some/directory/runroot.yaml</span></code>.</p>
<p>Below is an example of <code class="docutils literal notranslate"><span class="pre">runroot.yaml</span></code>.</p>
<div class="highlight-yaml notranslate"><div class="highlight"><pre><span></span><span class="nt">prefix</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/home/myname/runroot</span>
<span class="nt">exec_prefix</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/home/myname/runroot</span>
<span class="nt">bindir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/home/myname/runroot/bin</span>
<span class="nt">sbindir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/home/myname/runroot/bin</span>
<span class="nt">sysconfdir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/etc/trafficserver</span>
<span class="nt">datadir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/home/myname/runroot/share/trafficserver</span>
<span class="nt">includedir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/home/myname/runroot/include</span>
<span class="nt">libdir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/home/myname/runroot/lib</span>
<span class="nt">libexecdir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/libexec/trafficserver</span>
<span class="nt">localstatedir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/var</span>
<span class="nt">runtimedir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/var/trafficserver</span>
<span class="nt">logdir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/home/myname/runroot/logdir</span>
<span class="nt">cachedir</span><span class="p">:</span> <span class="l l-Scalar l-Scalar-Plain">/var/trafficserver</span>
</pre></div>
</div>
<p>The path can be both relative or absolute. We can define wherever we want the directory to be. All the items we need to
put into <code class="docutils literal notranslate"><span class="pre">runroot.yaml</span></code> are shown above and the entries can be optional. For example, if sysconfdir is not in the file, runroot will
set the sysconfidir, at runtime, to be the default built time sysconfdir concatenated with the prefix.</p>
</div>
<div class="section" id="runroot-management">
<h2>Runroot management<a class="headerlink" href="#runroot-management" title="Permalink to this headline">¶</a></h2>
<p>We can create, remove and verify runroot using <code class="docutils literal notranslate"><span class="pre">traffic_layout</span></code> program. It is fully documented in the appendices.</p>
</div>
<div class="section" id="guide-for-development">
<h2>Guide for development<a class="headerlink" href="#guide-for-development" title="Permalink to this headline">¶</a></h2>
<p>Basic runroot functionality is handled in <code class="docutils literal notranslate"><span class="pre">runroot.cc</span></code> and <code class="docutils literal notranslate"><span class="pre">runroot.h</span></code> of <code class="docutils literal notranslate"><span class="pre">lib/tscore</span></code>. <code class="docutils literal notranslate"><span class="pre">runroot_handler()</span></code> and <code class="docutils literal notranslate"><span class="pre">argparser_runroot_handler()</span></code>
are the main methods for the runroot. The <code class="docutils literal notranslate"><span class="pre">Layout</span></code> class will then get the global variable from <code class="docutils literal notranslate"><span class="pre">runroot.cc</span></code> to set up the directories properly.</p>
</div>
<div class="section" id="issue-or-bug">
<h2>Issue or bug<a class="headerlink" href="#issue-or-bug" title="Permalink to this headline">¶</a></h2>
<p>This functionality should be stable and if there is any issue or bug, please report it on the GitHub and &#64;chitianhao.</p>
</div>
</div>


           </div>
           
          </div>
          <footer>
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
        <a href="../testing/index.en.html" class="btn btn-neutral float-right" title="Testing Traffic Server" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></a>
        <a href="index.en.html" class="btn btn-neutral float-left" title="Layout" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left" aria-hidden="true"></span> Previous</a>
    </div>

  <hr/>

  <div role="contentinfo">
    <p>
        &#169; Copyright 2021, dev@trafficserver.apache.org.

    </p>
  </div>
    
    
    
    Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>
        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
  
<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
  <span class="rst-current-version" data-toggle="rst-current-version">
    <span class="fa fa-book"> Apache Traffic Server</span>
    v: 10.0
    <span class="fa fa-caret-down"></span>
  </span>
  <div class="rst-other-versions">
    <dl id="lang-list">
      <dt>Languages</dt>
    </dl>
    <dl id="version-list">
      <dt>Versions</dt>
    </dl>
  </div>
</div>
<script>
$(function() {
  function update_langlist (json) {
    for (var lang in json) {
      $('#lang-list').append('<dd><a href="/' + lang + '/latest/">' + json[lang]['name'] + '</a></dd>');
    }
    for (var i in json[curlang]['versions']) {
      var ver = json[curlang]['versions'][i];
      $('#version-list').append('<dd><a href="/' + curlang + '/' + ver + '/">' + ver + '</a></dd>');
    }
  }
  var curlang = "None" == "None" ? "en" : "None";
  $.ajax({
    'url':      "/en/latest/_static/languages.json",
    'dataType': "json",
    'success':  function (json) { update_langlist(json) },
    'error':    function (xhr,errstr,e) {
      $.ajax({
        'url':      "/_static/languages.json",
        'dataType': "json",
        'success':  function (json) { update_langlist(json) }
      })
    }
  });
});
</script>
 


</body>
</html>